:root {
  /* --gold: #fadf63; */
  --gold: rgb(255, 115, 50);
  /* --gold: rgb(255, 189, 57); */
  --blue: rgb(42, 100, 163);
  --black-light: rgb(30, 30, 30);
  --black: rgb(0, 0, 0);
  --wight: rgb(255, 255, 255);
}
@media (max-width: 768px) {
  .container {
    margin: auto;
    width: 90%;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 0px;
  }
  header .container .logo {
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
    color: var(--blue);
    font-family: "Nosifer", sans-serif;
  }
  header .container nav ul {
    display: none; /* Hide the navigation menu */
    position: absolute; /* Position it absolutely */
    top: 100%; /* Position it below the header */
    left: 0;
    width: 100%;
    background-color: rgba(42, 100, 163, 0.9); /* Match the background color */
    flex-direction: column; /* Make menu items vertical */
  }
  header .container nav ul li a:hover {
    background-color: var(--blue);
    color: var(--wight);
  }
  header .container nav ul li a {
    color: var(--gold);
    font-size: 18px;
    font-weight: bold;
    margin-left: 0px;
    padding: 0.5rem 8rem;
    /* border: 0px solid; */
    transition: all 0.5s ease;
  }
  header .container nav ul li {
    margin: 0;
    padding: 0.5rem 0rem;
    border: none;
  }
  header nav ul li:hover::after {
    transform: scaleX(0);
  }
  header nav ul li .active::after {
    border-bottom: 0px solid var(--gold);
  }
  header .container nav ul.active {
    display: flex; /* Show the menu */
    flex-direction: column; /* Keep it vertical on mobile */
  }
  header .container i {
    display: block; /* Show the hamburger icon */
    cursor: pointer;
  }

  /* start section-1 */
  .section-1 {
    height: auto;
    padding-top: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .section-1 .container {
    display: flex;
    height: auto;
    align-items: center;
    text-align: center;
  }
  .section-1 .text-section-1 {
    z-index: 1;
  }
  .section-1 .container p {
    font-weight: bold;
    font-size: 20px;
  }
  .section-1 .container h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 65px;
    color: var(--wight);
  }

  .section-1 .container p {
    color: var(--gold);
  }
  .section-1 .container span {
    color: var(--blue);
  }
  .section-1 .container button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5 ease;
  }
  .section-1 .container .button-1 {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--gold);
    margin-right: 10px;
  }
  .section-1 .container button:hover {
    background-color: transparent;
  }
  .section-1 .container .button-2 {
    border: 1px solid var(--gold);
    background-color: var(--gold);
    color: var(--blue);
  }
  .section-1 .imge-section-1 {
    display: none;
  }
  .section-1 .imge-section-2 {
    display: block;
    width: 100%;
    height: 450px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 100px;
    position: absolute;
    top: 38px;
    left: 0px;
    /*
  right: 50%;
  transform: translate(-50, -50); */
    /* display: none; */
  }

  /* end section-1 */

  /* Similar features with in each sections */
  .sections {
    padding-top: 80px;
    align-items: center;
    text-align: center;
  }
  .sections .container .title-sections {
    width: auto;
    margin: auto;
  }
  .sections .container .h1-title {
    margin: 0px;
    color: var(--blue);
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    z-index: 0;
  }
  .h1-title .span-title {
    display: block;
    font-size: 70px;
    font-weight: 900;
    color: rgba(53, 122, 196, 0.235);
    line-height: 30px;
  }
  .p-title {
    margin: 35px auto;
    line-height: 20px;
    /* color: rgba(53, 122, 196); */
    color: var(--wight);
  }
  /* Similar features with in each sections */
  /* start section-2 */
  .section-2 .content-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .section-2 .container .content-image img {
    width: 40%;
    border-bottom-right-radius: 50px;
    display: none;
  }
  .section-2 .content-image .content {
    text-align: center;
    width: auto;
  }
  .section-2 .content-image .content .h3 {
    margin-top: 25px;
    color: var(--blue);
  }
  .section-2 .content-image .data {
    display: flex;
    align-items: center;
    line-height: 35px;
  }
  .section-2 .content-image .data p {
    color: var(--gold);
  }
  .section-2 .content-image .data H3 {
    color: var(--blue);
    margin-right: 10px;
  }
  .section-2 .content h3 span {
    color: var(--gold);
  }
  .section-2 .container button {
    margin-top: 40px;
    width: 100%;
    height: 45px;
    background-color: var(--gold);
    color: var(--blue);
    font-weight: bold;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.5 ease;
    letter-spacing: 2px;
  }
  .section-2 .container button:hover {
    background-color: transparent;
    border: 1px solid var(--gold);
  }
  /* end section-2 */
  /* start section-3 */
  .section-3 .container .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-top: 40px;
  }
  .section-3 .container .cards a:hover .card {
    background-color: var(--blue);
  }
  .section-3 .container .cards a:hover i {
    color: var(--gold);
  }
  .section-3 .container .cards a:hover h4 {
    color: var(--wight);
  }
  .section-3 .container .cards a:hover hr {
    background-color: var(--gold);
  }
  .section-3 .container .cards .card {
    background-color: var(--black-light);
    padding: 40px 40px;
  }
  .section-3 .container .cards .card i {
    transition: 0.5s ease;
    color: var(--blue);
    font-size: 50px;
    margin-bottom: 30px;
  }
  .section-3 .container .cards .card h4 {
    transition: 0.5s ease;
    color: var(--gold);
  }
  .section-3 .container .cards .card hr {
    transition: 0.5s ease;
    background-color: var(--blue);
    border: 0px solid transparent;
    margin: 15px auto 0px;
    width: 15%;
    height: 2px;
  }
  /* end section-3 */
  /* start section-4 */
  .section-4 .container .lines-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    color: var(--gold);
    z-index: 10;
  }
  .section-4 .container .lines-content .text-line {
    width: 100%;
  }
  .section-4 .container .lines-content .text-line .text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .section-4 .container .lines-content .text-line .line-out {
    position: relative;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    /* margin: 10px 0px; */
    background-color: var(--black-light);
  }
  .section-4 .container .lines-content .text-line span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blue);
    transition: width 1.5s ease;
    border-radius: 10px;
  }
  /* end section-4 */
  /* start section-5 */

  /* end section-5 */
  /* start section-6 */
  .section-6 {
    padding-bottom: 80px;
  }
  .section-6 .container .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .section-6 .container .cards .card {
    margin-bottom: 20px;
  }
  .section-6 .container .cards a:hover i {
    color: var(--gold);
  }
  .section-6 .container .cards a:hover h4 {
    color: var(--wight);
  }
  .section-6 .container .cards a:hover p {
    color: var(--gold);
  }
  .section-6 .container .cards .card i {
    color: var(--blue);
    font-size: 50px;
    margin-bottom: 30px;
    padding: 40px;
    border-radius: 50%;
    background-color: var(--black-light);
    box-shadow: 1px 5px 20px var(--gold);
  }
  .section-6 .container .cards .card h4 {
    color: var(--wight);
  }
  .section-6 .container .cards .card p {
    color: var(--blue);
    font-weight: bold;
    margin-top: 15px;
  }
  .section-6 .container .data {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: end;
    margin-top: 0px;
  }
  .section-6 .container .data img {
    width: 100%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 100px;
  }
  .section-6 .container .data form {
    border-radius: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--black-light);
    padding: 50px;
    text-align: left;
  }
  .section-6 .container .data form input,
  .section-6 .container .data form textarea {
    padding: 15px 20px;
    font-size: 15px;
    color: var(--blue);
    margin: 10px 0px;
    border-radius: 5px;
    border: 2px solid var(--gold);
  }
  .section-6 .container .data form input::placeholder,
  .section-6 .container .data form textarea::placeholder {
    color: var(--blue);
    font-weight: bold;
  }
  .section-6 .container .data form .SEND {
    cursor: pointer;
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    color: var(--wight);
    border: 2px solid var(--gold);
    background-color: var(--blue);
    font-weight: bold;
    transition: 0.5s ease;
  }
  .section-6 .container .data form .SEND:hover {
    background-color: var(--gold);
    border: 2px solid var(--blue);
  }
  /* end section-6 */
  /* start footer */
  .footer {
    padding: 20px 0px 100px;
    word-spacing: 3px;
    line-height: 25px;
    background-color: var(--black-light);
    height: auto;
    align-content: center;
    text-align: start;
    position: relative;
  }
  .footer .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .footer .About-Us .icons {
    display: flex;
    justify-content: space-around;
  }
  .footer .About-Us .icons a i {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    border: solid 1.5px var(--gold);
    text-align: center;
    align-content: center;
    color: var(--gold);
    transition: 0.2s ease;
  }
  .footer .About-Us a i:hover {
    color: var(--blue);
    border: 2px solid var(--blue);
  }
  .footer .titles-footer {
    color: var(--blue);
  }
  .footer .About-Us p {
    color: var(--wight);
  }
  .footer .About-Us a {
    width: 40px;
  }

  .footer hr {
    width: 55px;
    border: 1.5px solid var(--gold);
    margin: 15px 0px 20px;
  }
  .footer .Quick-Links .lines {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .footer .Quick-Links .lines a {
    color: var(--wight);
  }
  .footer .Quick-Links .lines a:hover {
    color: var(--blue);
  }
  .footer .Quick-Links .line-one {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer ul {
    list-style: none;
  }
  .footer li {
    transition: 0.3s ease;
    margin: 0px 0px 15px;
  }
  .footer ul li::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-radius: 5px;
    margin-right: 10px;
    border-top: transparent 5px solid;
    border-bottom: transparent 5px solid;
    border-left: 5px solid var(--blue);
  }
  .footer a:hover li {
    padding-left: 10px;
  }

  .footer .OpenHours {
    color: var(--wight);
  }
  .footer .OpenHours .times {
    margin-top: 20px;
  }
  .footer .OpenHours .times .time {
    display: flex;
    margin-bottom: 10px;
  }
  .footer .OpenHours .times .time i {
    margin-right: 10px;
  }
  .footer .Newsletter {
    color: var(--wight);
  }
  .footer .Newsletter form {
    position: relative;
    margin-top: 30px;
  }
  .footer .Newsletter form input {
    color: var(--gold);
    width: 80%;
    height: 50px;
    background-color: var(--blue);
    border: 1px solid var(--white);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px;
  }
  .footer .Newsletter form input::placeholder {
    color: var(--gold);
    font-weight: bold;
  }
  .footer .Newsletter form button {
    position: absolute;
    width: 20%;
    height: 50px;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--gold);
  }
  .footer .Newsletter form button:hover {
    background-color: var(--blue);
    border-left: 1px solid var(--wight);
  }
  .footer-text {
    background-color: var(--black);
    color: var(--gold);
    text-align: center;
    align-content: center;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
  }
  .footer-text a {
    color: var(--blue);
  }
  /* end footer */
}
